<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.com.mapp.gradetracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Main"
            android:title="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ViewAssignmentActivity"
            android:label="@string/title_activity_view_assignment"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="sg.com.mapp.gradetracker.ViewAssignmentActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewModuleActivity"
            android:label="@string/title_activity_view_module"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="sg.com.mapp.gradetracker.ViewModuleActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuoteActivity"
            android:title="@string/action_quote">
            <intent-filter>
                <action android:name="sg.com.mapp.gradetracker.QuoteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddModuleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_add_module"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddAssignmentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_add_assignment"
            android:parentActivityName=".MainActivity" />

        <receiver
            android:name=".AutoReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>